<!-- side navbar -->
<app-sidenav></app-sidenav>
<!-- end side navbar  -->
<div class="col-10 main" style="border: 1px solid rgb(241, 238, 233);">
    <div class="row">
        <div class="col-6" style="border: 1px solid rgb(216, 138, 13);">
            <app-dogs></app-dogs>
        </div>
        
        <div class="col-3" style="border: 1px solid rgb(216, 138, 13);">
            <p>user ui</p>
        </div>

        <div class="col-3" style="border: 1px solid rgb(216, 138, 13);">
            <p>user ui</p>
        </div>
    </div>
</div>