<div class="dogs-list">
    <div class="row" style="max-width: 440px;" *ngIf="!showForm; else addForm">
        <button class="btn btn-info btn-block btn-lg btn-custom-2" (click)="showAddForm()"><b>ADD DOG</b></button>
    </div>
    <ng-template #addForm>
        <!-- add dog form -->
        <div class="row" style="max-width: 440px;">
            <div class="container-fluid d-flex justify-content-center">
                <form class="form-container" #addDogForm="ngForm" (ngSubmit)="saveDog(addDogForm)">
                    <h2>Add Canine Details</h2>
                    <div class="mb-3">
                        <label for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="_newDog.name"
                            placeholder="Enter Your Petname">
                    </div>
                    <div class="mb-3">
                        <label for="dob" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" name="_dob" [(ngModel)]="_dob">
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <div class="row ml-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" [(ngModel)]="_newDog.gender"
                                    value="male">
                                <label class="form-check-label" for="Male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" [(ngModel)]="_newDog.gender"
                                    value="female">
                                <label class="form-check-label" for="Female">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="row d-grid gap-2">
                        <div class="col-6 d-flex justify-content-center">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <button class="btn btn-primary" type="button" (click)="cancelAdd()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- add dog form end -->
    </ng-template>

    <div class="row mb-3" style="max-width: 440px;">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <h4 class="text-white">DOG LIST</h4>
        </div>
        <div class="col-8 d-flex justify-content-end">
            <button class="btn btn-success rounded text-white" (click)="getDogs()">
                <b>REFRESH LIST</b>
            </button>
        </div>
    </div>

    <!-- dog list -->
    <div class="row" style="max-width: 440px;" *ngIf="!showeditForm; else editForm">
        <div *ngFor="let dogs of _dogList">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/images/reg1.jpg" alt="dogimage" class="card-img rounded">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">{{dogs.name}}</h5>
                            <p class="card-text">Gender : {{dogs.gender}}<br>Age : {{_currentYear - dogs.year}}</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-outline-danger btn-custom"
                                        (click)="removeDog(dogs)">Remove</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-outline-success btn-custom"
                                        (click)="editDog(dogs)">Edit</button>
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- dog list end -->

    <!-- edit dog details -->
    <ng-template #editForm>
        <div class="row" style="max-width: 440px;">
            <div class="container-fluid d-flex justify-content-center">
                <form class="form-container" #editDogForm="ngForm" (ngSubmit)="updateDog(editDogForm)">
                    <h2>Edit Dog Details</h2>
                    <div class="mb-3">
                        <label for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="_newDog.name"
                            placeholder="Enter Your Petname">
                    </div>
                    <div class="mb-3">
                        <label for="dob" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" name="_dob" [(ngModel)]="_dob">
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <div class="row ml-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" [(ngModel)]="_newDog.gender"
                                    value="male">
                                <label class="form-check-label" for="Male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" [(ngModel)]="_newDog.gender"
                                    value="female">
                                <label class="form-check-label" for="Female">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="row d-grid gap-2">
                        <div class="col-6 d-flex justify-content-center">
                            <button class="btn btn-success" type="submit">Update</button>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <button class="btn btn-primary" type="button" (click)="cancelEdit()">Cancel</button>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
    </ng-template>
    <!-- edit dog details end -->
</div>