.dog-logo{
    padding:3px 10px 0px 10px;
   height:30px; 
    width:60px;}

.carousel-indicators > li {
width: 10px;
height: 10px;
border-radius: 100%;
}

.navCon{				
  margin: 2px;
  box-shadow: 0 0 10px 0 rgba(0,0,10,0);
}

.custom-card{
  width: 80%;	
  padding-left: 25%;
}

.mycard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,10);
    transition: 0.3s; 
}

.mycard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,2);  		
}

.nav-item:hover{
  background-color: #0a4040;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,2);
  border-radius: 10%;
}

.dropdown-item:hover{
  background-color: #b5baba;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,2);	
}

.card-img{
  width: 320px;	
  height: 300px;
}

body{
  background-color: #1f3c4f;	
}

h2,p{
  color: white;
}

.hide-nav{
  display: none;
}